<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Url shortner</h1>
    <div>
      <form method="post" action="/url">
        <input type="text" name="url" placeholder="enter url" />
        <button type="submit">Submit</button>
      </form>
    </div>
    <div>
      <table>
        <thead>
          <th>S. no</th>
          <th>ShortId</th>
          <th>Redirect</th>
          <th>Clicks</th>
        </thead>
        <tbody>
          <% allUrl.forEach((url,index) => { %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= url.shortId %></td>
            <td><%= url.redirectedUrl %></td>
            <td><%= url.visitHistory.length %></td>
          </tr>

          <% }) %>
        </tbody>
      </table>
    </div>
  </body>
</html>
